h1{
    color:aliceblue;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
#rowdy{
    width: 200px;
    height: auto;
    float:right
}
#pictureOfMe{
    width: 200px;
    height: auto;
    float:right;
}
figure{
    float: right;
}
body{
    background-color:aliceblue;
}
