/**Styling for the websites main header **/
h1{
    color:aliceblue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

/** **/
#rowdy{
    width: 200px;
    height: auto;
    float:right
}
#Me{
    width: 200px;
    height: auto;
    float:right;
}
figure{
    float: right;
}
body{
    background-color:aliceblue;
}
